@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700;900&display=swap");
.subscribe__btn, .form__btn, .hero__button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:focus, .form__btn:focus, .hero__button:focus, .subscribe__btn:hover, .form__btn:hover, .hero__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.client__link, .network__link, .network, .skills__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.caption-section {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .caption-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.footer-title {
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.14;
  font-weight: 700;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo--footer {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part {
  color: #212121;
}
.logo__part--footer {
  color: #ffffff;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    justify-content: center;
  }
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
    color: #2196f3;
  }
  .nav__link--current::after {
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: 84px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    margin-right: 0px;
    display: flex;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay\ img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
}

.skills {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .skills__list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 89px;
    padding-bottom: 0px;
  }
  .skills__list {
    margin: 0px;
    flex-wrap: nowrap;
  }
}

.skills__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .skills__item {
    max-width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__item {
    max-width: 270px;
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .skills__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.skills__card {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.skills__title {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .skills__title {
    text-align: left;
  }
}

.skills__text {
  width: 100%;
  margin-top: 10px;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__img {
  max-width: 450px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__img {
    max-width: 354px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    max-width: 270px;
    width: 100%;
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.worker {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.worker:hover, .worker:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.worker__field {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.worker__job {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}

.network {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}
.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.network__icon {
  fill: currentColor;
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.client__item {
  width: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .filter {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item {
  display: inline-block;
}
.filter__item:last-child {
  margin-top: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__item:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .filter__item {
    display: block;
  }
  .filter__item:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  cursor: pointer;
  border-color: rgb(245, 244, 250);
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .project__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__list {
    margin: 0px;
  }
}

.project__img {
  max-width: 450px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .project__img {
    max-width: 354px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .project__img {
    max-width: 370px;
    width: 100%;
  }
}

.project__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767px) {
  .project__item {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    margin: 0px 30px 30px 0px;
  }
  .project__item:nth-child(3n) {
    margin-right: 0;
  }
  .project__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.project__link:hover .project__thumb, .project__link:focus .project__thumb {
  transform: translateY(0%);
}

.project__wraper {
  background-color: #ffffff;
  border-style: solid;
  border-color: #eeeeee;
  border-top-width: 0px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__description {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  text-align: left;
  padding: 63px 24px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  transform: scale(1);
  max-width: 450px;
  width: 100%;
  max-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__btn {
  display: flex;
  border-radius: 50px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__icon {
  fill: currentColor;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.form__title::first-letter {
  text-transform: uppercase;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}
.form__wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.form__icon-wrapper {
  position: relative;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__label {
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  font-size: 12px;
  color: #757575;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
  border: 1px solid #2196f3;
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkbox__icon {
  border: 1.7px solid black;
  border-radius: 4px;
  margin-right: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  background-color: #2196f3;
  border: 1.7px solid #2196f3;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox__link {
  text-decoration: underline;
  color: #2196f3;
}

.form__btn {
  display: flex;
  font-weight: 700;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ОФОРМЛЕНИЕ  ПОДВАЛА */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer__item {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__item {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 0px;
    margin-left: 76px;
    text-align: left;
  }
}

.address_list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item {
  display: block;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--color {
  color: #ffffff;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
}

.social {
  display: flex;
  margin-top: 20px;
}

.social__items:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

.subscribe {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscribe {
    width: 100%;
  }
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: inherit;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  color: #ffffff;
}
.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-bottom: 0px;
    max-width: 358px;
    width: 100%;
  }
}

.subscribe__btn {
  display: flex;
  border-radius: 4px;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.menu-container {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-top: 48px;
  width: 100%;
  background-color: #ffffff;
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.nav__button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  color: #212121;
}
.nav__button:active, .nav__button:focus {
  color: #2196f3;
}
.nav__button .icon-cross {
  display: none;
}
.nav__button .icon-menu, .nav__button .icon-cross {
  fill: currentColor;
}
@media screen and (min-width: 767px) {
  .nav__button {
    display: none;
  }
}

.nav__button.is-open .icon-cross {
  display: block;
}

.nav__button.is-open .icon-menu {
  display: none;
}

.mb-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mb-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mb-nav__link:hover, .mb-nav__link:focus {
  color: #2196f3;
}

.mb-nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.mb-contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mb-contacts__link:hover, .mb-contacts__link:focus {
  color: #2196f3;
}

.mb-networks {
  display: flex;
}
.mb-networks__link {
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mb-networks__link:hover, .mb-networks__link:focus {
  color: #2196f3;
}

.mb-contacts__item + .mb-contacts__item {
  margin-top: 32px;
}

.mb-networks__link {
  color: #2196f3;
}

.mb-networks__item:not(:last-child) {
  position: relative;
  margin-right: 20px;
}

.mb-networks__item:not(:last-child)::after {
  display: block;
  content: " ";
  width: 1px;
  height: 100%;
  background-color: #212121;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  right: -10px;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}/*# sourceMappingURL=main.css.map */