.work {
	display: none;
	@media screen and (min-width: 1200px) {
		display: block;
	}
}
.work__list {
	margin-top: 50px;
	display: flex;
		gap: 30px;
	
	
}
.work__item {
	position: relative;
}
.work__text {
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: $white-color;
	padding-top: 27px;
	padding-bottom: 27px;
	height: 70px;
	width: 100%;
	background-color: rgba(47, 48, 58, 0.8);
	position: absolute;
	bottom: 0;
}