.filter {
@media screen and (min-width: 768px){
	text-align: center;
}
@media screen and (min-width: 1200px){
display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
}
.filter__item{
	display: inline-block;
	&:last-child{
		margin-top: 15px;
		margin-bottom: 40px;
	}
	&:not(:last-child) {
			margin-right: 8px;
			
		}
@media screen and (min-width: 1200px){
	display: block;
	&:last-child {
			margin-top: 0px;
			margin-bottom: 0px;
		}
}
}
.filter__btn {
	
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $background-collor-button;
  border-radius: 4px;
  cursor: pointer;
  border-color: $background-collor-button;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    border-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}



.project__list {
@media screen and (min-width: 768px){
display: flex;
	flex-wrap: wrap;
}
  
}

.project__item {
	max-width:450px ;
	width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@media screen and (min-width: 1200px){
		margin-right: 30px;
			margin-bottom: 30px;
		
			&:nth-child(3n) {
				margin-right: 0;
			}
		
			&:nth-last-child(-n + 3) {
				margin-bottom: 0;
			}
	}
  
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__thumb {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0%);
  }
}

.project__wraper {
  background-color: $white-color;
  border-style: solid;
  border-color: #eeeeee;
  border-top-width: 0px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__description {
  font-size: 18px;
  line-height: 1.55;
  color: $white-color;
  text-align: left;
  padding: 63px 24px;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}
.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-top: 4px;
}
